:root {
    --font-family: 'Comic Neue', cursive;
    --green-main: #026873;
    --green-sec: #038C8C;
    --blue-main: #0038BA;
    --blue-sec: #004BFA;
    --red-main: #891718;
    --red-sec: #A21C22;
    --yellow-main: #BF9A2A;
    --yellow-sec: #F2C029;
    --purple-main: #613480;
    --purple-sec: #C169FF;
    --default-main: #E7E8E7;
    --default-sec: #FFFFFF ;    
    --dark-main: #212625;
    --dark-sec: #0C0D0B;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* font-family: 'Tillana', cursive; */
body {
    background-color: var(--primary);
    color: var(--txt-color);
    font-family: var(--font-family);
}
h1 {
    text-align: center;
    margin: 30px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
.bg-mode {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-mode .btn {
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
}
#btn-green {
    background: linear-gradient(90deg, var(--green-main), var(--green-sec));
}
#btn-blue {
    background: linear-gradient(90deg, var(--blue-main), var(--blue-sec));
}
#btn-red {
    background: linear-gradient(90deg, var(--red-main), var(--red-sec));
}
#btn-purple {
    background: linear-gradient(90deg, var(--purple-main), var(--purple-sec));
}
#btn-yellow {
    background: linear-gradient(90deg, var(--yellow-main), var(--yellow-sec));
}
#btn-default {
    background: linear-gradient(90deg, var(--default-main), var(--default-sec));
}
#btn-dark {
    background: linear-gradient(90deg, var(--dark-main), var(--dark-sec));
}
#font-change {
    background: transparent;
    outline: none;
    border: none;
    color:  var(--txt-color);
}
.add-item-div {
    background-color: var(--sec);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.add-item-div label {
    padding: 10px 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-label {
    width: 100%;
}
.btn-label span {
    width: 90px;
}
.add-item-div input {
    margin-left: 5px;
    padding: 7px 5px;
    width: 100%;
    border: 1px solid var(--spare);
}
.add-item-div button {
    padding: 7px 15px;
}
input::placeholder {
    color: var(--txt-color);
    opacity: 0.7;
}
input {
    background-color: transparent;
    border-radius: 8px;
    color: var(--txt-color);
    font-size: 18px;
    font-family: inherit;
}
table {
    background-color: var(--sec);
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    text-align: center;
    overflow: scroll;
}
table button {
    background-color: transparent;
    color: var(--txt-color);
    outline: none;
    border: none;
}

button {
    font-family: inherit;
    border-radius: 8px;
    border: none;
    /* color: var(--txt-color); */
}

td,
th {
    border: 1px solid var(--spare);
    padding: 5px;
    font-size: 18px;
    color: var(--txt-color);
}
.budget-input {
    border: none;
    outline: none;
    font-size: 18px;
}
.budget-item-input {
    max-width: 100px;
    text-align: center;
}
.budget-cell-input {
    width: 50px;
}
.total-div {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    display: none;
    justify-content: space-evenly;
}
label {
    padding: 10px 5px;
    display: flex;
    align-items: center;
}
.total-div input {
    border: 1px solid var(--spare);
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: var(--sec);
}
#total-items {
    width: 50px;
}
.total-div button {
    background-color: var(--sec);
    color: var(--txt-color);
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 550px) {
    .total-div label,
    .total-div input {
        display: block;
        /* width: 100%; */
    }
    .add-item-div {
        padding: 5px;
        flex-direction: column;
    }
    .total-div {
        flex-direction: column;
    }
    #total-items-label {
        display: flex;
        justify-content: space-evenly;
    }
    #total-items-label #total-items  {
        margin-left: 20px;
    }
}
@media (min-width: 551px) {
    .total-div input  {
        margin-left: 10px;
    }
}