:root {
    --font-family: 'Comic Neue', cursive;
    --green-main: #026873;
    --green-sec: #038C8C;
    --blue-main: #0038BA;
    --blue-sec: #004BFA;
    --red-main: #891718;
    --red-sec: #A21C22;
    --yellow-main: #BF9A2A;
    --yellow-sec: #F2C029;
    --purple-main: #613480;
    --purple-sec: #C169FF;
    --default-main: #E7E8E7;
    --default-sec: #FFFFFF ;    
    --dark-main: #212625;
    --dark-sec: #0C0D0B;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* font-family: 'Tillana', cursive; */
body {
    background-color: var(--primary);
    color: var(--txt-color);
    font-family: var(--font-family);
    transition: all ease-in-out 1s;
}
button:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
    margin: 30px;
}
.flex {
    display: flex;
    justify-content: center;
}
.ml {
    margin-left: 2px;
}
.print-not-class {
    display: none;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.font {
    margin-bottom: 15px;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-mode {
    margin-top: 8px;
    margin-bottom: 8px;
}
.bg-mode .btn {
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
}
#btn-green {
    background: linear-gradient(90deg, var(--green-main), var(--green-sec));
}
#btn-blue {
    background: linear-gradient(90deg, var(--blue-main), var(--blue-sec));
}
#btn-red {
    background: linear-gradient(90deg, var(--red-main), var(--red-sec));
}
#btn-purple {
    background: linear-gradient(90deg, var(--purple-main), var(--purple-sec));
}
#btn-yellow {
    background: linear-gradient(90deg, var(--yellow-main), var(--yellow-sec));
}
#btn-default {
    background: linear-gradient(90deg, var(--default-main), var(--default-sec));
}
#btn-dark {
    background: linear-gradient(90deg, var(--dark-main), var(--dark-sec));
}
#font-change {
    background: transparent;
    outline: none;
    border: none;
    color:  var(--txt-color);
}
.add-item-div {
    background-color: var(--sec);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    transition: all ease-in-out 1s;
}
.add-item-div label {
    padding: 10px 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-label {
    width: 100%;
}
.btn-label span {
    width: 90px;
}
.add-item-div input {
    margin-left: 5px;
    padding: 7px 5px;
    width: 100%;
    border: 1px solid var(--spare);
}
.add-item-div button {
    padding: 7px 15px;
}
input::placeholder {
    color: var(--txt-color);
    opacity: 0.7;
}
input {
    background-color: transparent;
    border-radius: 8px;
    color: var(--txt-color);
    font-size: 18px;
    font-family: inherit;
}
.table-contain {
    width: 100%;
    overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.table-contain::-webkit-scrollbar {
    display: none;
}
  
table {
    background-color: var(--sec);
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    text-align: center;
    transition: all ease-in-out 1s;
}
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    color: var(--txt-color);
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}  
.dropdown-content a:hover {
    background-color: #f1f1f1
}  
.dropdown:hover .dropdown-content {
    display: block;
}

table button {
    background-color: transparent;
    color: var(--txt-color);
    outline: none;
    border: none;
}

button {
    font-family: inherit;
    border-radius: 8px;
    border: none;
    /* color: var(--txt-color); */
}

td,
th {
    border: 1px solid var(--spare);
    padding: 5px;
    font-size: 18px;
    color: var(--txt-color);
}
.fa-angle-down {
    font-weight: inherit;
}
.change-item,
.change-budget {
    border-radius: 0;
    border: none;
    outline: none;
    display: none;
    border-bottom: 1px solid var(--spare);
}

.total-div-contain {
    display: none;
    flex-direction: column;
}
.total-div {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.share-div {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.total-div-btn {
    background-color: var(--sec);
    color: var(--txt-color);
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
label {
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.total-div input {
    border: 1px solid var(--spare);
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: var(--sec);
    outline: none;
}
.total-div input:hover {
    cursor: initial;
}
#total-items {
    width: 50px;
}
.fa-whatsapp {
    color: #25D366;
    /* color: #ffffff; */
    /* background-color: #25D366; */
}
/* .total-div button {
    background-color: var(--sec);
    color: var(--txt-color);
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
} */
@media (max-width: 550px) {
    .container {
        padding: 15px;
    }
    .total-div label,
    .total-div input {
        display: block;
    }
    .add-item-div {
        padding: 5px;
        flex-direction: column;
    }
    .total-div {
        flex-direction: column;
    }
    #total-items-label {
        display: flex;
        justify-content: space-evenly;
    }
    #total-items-label #total-items  {
        margin-left: 20px;
    }
    .mobile-none {
        display: none;
    }
}
@media (min-width: 551px) {
    .total-div input  {
        margin-left: 10px;
    }
}